@mixin font($font_name, $file_name, $weight, $style) {

    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
        }
    }

@import 'fonts';
body{
    font-size: 12px;
    div{
        font-size: 10px;
    }

}
span{
    font-size: 25px;
    @media(max-width:767){
        font-size: 15px;
    }
}
div{
background: url(../img/Layer_3.png) 0 0 no-repeat;
}